<html>
    <head>
        <title>Inventory Tracker</title>
    </head>
    <body>
      <h1>Welcome to the Inventory Tracker</h1>
      <p>Pretty self explanatory - we track inventory over here.</p>
      <p>What type of inventory, you (didn't) ask?  Well, groceries, of course!</p>
      <p>Feel free to add inventory of your own to the database by clicking on the "Add to Inventory" button below.</p>
      <p>Enjoy!</p>
      <br>
     
      <input type="submit" value="Add to Inventory">
     
      
    </body>
</html>
